/* I am using Post CSS for styling */
$body-bg: #2b88c2;
$body-color: #091d29;
$white: #fff;
$gray: #999;
$lightGray: #dde1ed;
$border-radius: 10px;

@mixin box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  margin-bottom: 5px;
}

h6 {
  font-size: 0.71225rem;
}

p {
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  &.github {
    margin-left: 15px;
    color: $body-color;
    font-size: 32px;

    &:hover {
      color: $body-bg;
    }
  }
}

.app {
  background: url("../images/bg5.jpg") top right no-repeat;
  background-color: $body-bg;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

main {
  color: $body-color;
  padding-top: 30px;
}

.resume {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px 60px;
  grid-template-areas:
    "photo"
    "name"
    "about"
    "work"
    "skills"
    "education"
    "projects";

  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: $white;
  border-radius: $border-radius;
  @include box-shadow;

  @media (min-width: 960px) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name photo"
      "about about"
      "work work"
      "skills skills"
      "education education"
      "projects projects";
  }

  @media (min-width: 1200px) {
    grid-template-areas:
      "name photo"
      "about work"
      "skills education"
      "projects projects";
  }

  @media (min-width: 1600px) {
    width: 70%;
  }

  .header {
    color: $gray;
    padding: 15px 0;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    text-transform: uppercase;
  }

  .company,
  .school-name {
    color: $body-bg;

    span {
      color: $gray;
    }
  }
}

.name {
  text-align: center;
  grid-area: name;

  .title {
    color: $body-bg;
  }

  @media (min-width: 960px) {
    text-align-last: left;
  }
}

.photo {
  grid-area: photo;
  text-align: center;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0;
  }
}

.about {
  grid-area: about;
}

.work {
  grid-area: work;

  .job {
    &:first-of-type {
      margin-bottom: 30px;
    }

    .job-title {
      margin: 10px 0;
    }

    .job-skills {
      margin-top: 30px;
    }
  }
}

.education {
  grid-area: education;

  .degree {
    margin: 10px 0;
  }

  .school {
    margin-bottom: 30px;
  }
}

.projects {
  grid-area: projects;

  .project-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    .project-card {
      overflow: hidden;
      width: 47%;
      background-color: $white;
      margin-bottom: 30px;
      border: 1px solid $body-bg;
      border-radius: $border-radius;
      transition: all 0.2s ease-in-out;
      @include box-shadow;

      @media (min-width: 768px) {
        width: 30%;
      }

      @media (min-width: 1200px) {
        width: 15%;
      }

      &:hover {
        transform: scale(1.02);
      }

      img {
        margin: 0;
      }

      .project-card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 230px;
        margin-top: -8px;
        text-align: center;
        border-top: 1px solid $body-bg;

        .project-card-title {
          margin-top: 20px;
        }

        .project-card-meta {
          font-size: 16px;
          padding: 10px;

          p {
            margin: 0;
          }
        }

        .project-card-footer {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          background-color: $lightGray;
          border-radius: 0 0 $border-radius $border-radius;
          border-top: 1px solid $body-bg;

          a {
            text-decoration: none;
          }

          .site a {
            padding: 12px 29px;
          }

          .source a {
            padding: 12px 18px;
          }

          .site,
          .source {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.skills {
  grid-area: skills;

  .skills-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .skills-wrapper {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }

      .title {
        margin: 10px 0;
      }

      .skills-list {
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}

footer {
  position: relative;
  top: -23px;
  background: rgba(255, 255, 255);
  width: 300px;
  z-index: -1;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  margin: 50px auto 0;

  a {
    color: $body-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $body-color;
    }
  }

  /* .photo-credit {
    a {
      background-color: black;
      color: white;
      text-decoration: none;
      padding: 4px 6px;
      font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
        "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial,
        sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.2;
      display: inline-block;
      border-radius: 3px;
    }

    span.svg {
      display: inline-block;
      padding: 2px 3px;

      svg {
        height: 12px;
        width: auto;
        position: relative;
        vertical-align: middle;
        top: -2px;
        fill: white;
      }
    }

    span.name {
      display: inline-block;
      padding: 2px 3px;
    }
  } */
}
